main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.box {
  background-color: #222831;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: column;
  /* gap: 10px; */
  list-style: none;
  padding: 2.5em 2em 1.5em 2em;
  width: 540px;
  height: 520px;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
}

.players-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  list-style: none;
  width: 100%;
  flex-wrap: wrap;
}